[submodule "lib/zhinst/zhinst-toolkit"]
	path = lib/zhinst/zhinst-toolkit
	url = https://github.com/zhinst/zhinst-toolkit.git
[submodule "lib/zhinst/zhinst-utils"]
	path = lib/zhinst/zhinst-utils
	url = https://github.com/zhinst/zhinst-utils.git
[submodule "lib/h5py/h5py"]
	path = lib/h5py/h5py
	url = https://github.com/h5py/h5py
